{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1 class='mb-3'>게시판</h1>
  <div class="row text-center">
    <div class="col-8 fs-3">글</div>
    <div class="col-2 fs-3">작성자</div>
    <div class="col-2 fs-3">작성날짜</div>
  </div>
  <hr>
  {% for article in articles %}
    <div class="row text-center">
      <div class='col-8'>
        <a class='text-decoration-none' href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
      </div>
      <div class='col-2'>{{ article.user }}</div>
      <div class="col-2">{{ article.created_at }}</div>
    </div>
    <hr>
  {% endfor %}
{% endblock content %}
